@using MvcOnlineCommercialSoft.Models.Siniflar
@model List<Personel>
@{
    ViewBag.Title = "DepartmanDetay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Departman Detay Sayfası</h2>
<br />

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Departman adı: @ViewBag.departman</li>
</ol>
<table class="table table-bordered">
    <tr>
        <th>Personel ID</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Gorsel</th>
        <th>Satışlar</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Personelid</td>
            <td>@x.PersonelAd</td>
            <td>@x.PersonelSoyad</td>
            <td>@x.PersonelGorsel</td>
            <td> <a href="/Departman/DepartmanPersonelSatis/@x.Personelid" class="btn btn-info">Satışlar</a></td>
        </tr>
    }
</table>